.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: white;
  border-radius: 4px;
  padding: 20px;

  &_fields {
    align-items: flex-end;
    margin-bottom: 15px;
  }

  &_actions {
    display: flex;
    justify-content: flex-end;
  }
}

.alert {
  margin-bottom: 16px;
}
